####################################################
# AI Car Sales Analytics Platform
# Environment Variables
####################################################

# Backend Configuration

# MySQL Database
DB_URL=jdbc:mysql://host.docker.internal:3306/carsales
DB_USERNAME=your_username
DB_PASSWORD=your_password

# Ollama Configuration
OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=llama3


# Frontend Configuration

# Spring Boot Backend API
BASE_URL=http://backend:8081/api