#############################
# Java / Maven
#############################

target/
*.class
*.jar
*.war
*.ear
*.log

#############################
# Maven Wrapper
#############################

.mvn/wrapper/maven-wrapper.jar

#############################
# IntelliJ IDEA
#############################

.idea/
*.iml
out/

#############################
# VS Code
#############################

.vscode/

#############################
# Eclipse
#############################

.project
.classpath
.settings/

#############################
# NetBeans
#############################

nbproject/

#############################
# Python
#############################

__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/

#############################
# Streamlit
#############################

.streamlit/secrets.toml

#############################
# Environment Variables
#############################

.env

#############################
# Operating System
#############################

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

#############################
# Logs
#############################

logs/
*.log

#############################
# Temporary Files
#############################

*.tmp
*.temp

#############################
# Docker
#############################

docker-data/

#############################
# Misc
#############################

*.swp
*.swo